[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.7.1"
torchvision = "==0.8.2"
torchaudio = "==0.7.2"
sacrebleu = "*"
sacremoses = "*"
subword-nmt = "*"
fastBPE = "*"
requests = "*"
ninja = "*"

[dev-packages]

[requires]
python_version = "3.6"
